@{
    ViewData["Title"] = "Login";
}
<!--
<h1 class="mt-3 mb-3 h3">Log In</h1>
<form method="post">
    <div class="mb-3">
        <label class="form-label">User Id</label>
        <input type="text" id="userId" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" id="password" class="form-control" />
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-dark text-center">Login</button>
    </div>

    <div class="mb-3">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" />
            <label class="form-check-label">I agree to the Term and Conditions</label>
        </div>
    </div>
</form>
<div class="text-center">
    <label class="form-label">Does Not Have An Account Yet?</label>
    <a class="text-primary" asp-for="" asp-controller="Account" asp-action="Register">Register</a>
</div>
-->
<form>
<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image" style="background-image: url('https://images.pexels.com/photos/3186386/pexels-photo-3186386.jpeg?auto=compress&cs=tinysrgb&w=800');">
                
                <div class="text">
                    <p>Join the community of developers <i>- Scholar Hub</i></p>
                </div>

            </div>
            <div class="col-md-6 right">

                <div class="input-box">

                    <header>Log In</header>
                    <div class="input-field">
                        <input type="text" class="input" id="user" required="" autocomplete="off">
                        <label for="user">User Id</label>
                    </div>
                    <div class="input-field">
                        <input type="password" class="input" id="pass" required="">
                        <label for="pass">Password</label>
                    </div>
                    <div class="input-field">

                        <input type="submit" class="submit" value="Sign In">
                    </div>
                    <div class="signin">
                            <span>Does Not Have An Account Yet? <a class="text-primary" asp-for="" asp-controller="Account" asp-action="Register">Register here</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
